.movie-card {
    width: 200px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .movie-actions {
    margin-top: 10px;
  }
  
  .rating-dropdown {
    padding: 5px;
    margin-right: 10px;
  }
  
  .add-to-watched-btn,
  .add-to-watchlist-btn {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-to-watched-btn:hover,
  .add-to-watchlist-btn:hover {
    background-color: #45a049;
  }
  
  .add-to-watchlist-btn {
    background-color: #008CBA;
  }
  
  .add-to-watchlist-btn:hover {
    background-color: #007bb5;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .movie-card p {
    font-size: 16px;
    color: #555;
  }
  